{{#if admin}}

{{else}}
<div class="d-flex justify-content-center align-items-center vh-100">
        {{!-- <a href="insert" class="btn btn-danger btn-lg">Add Your data</a>
        <a href="user/personaldata" class="btn btn-danger btn-lg">Show Your data</a> --}}
        <a href="/logout" class="btn btn-warning btn-lg">Log Out</a>
        
    </div>
    
{{/if}}